:root {
	--white: hsl(0, 0%, 100%);
	--black: #111111;
	--body1-regular: 400 1rem/1.5rem Poppins;
	--body1-bold: 700 1rem/1.5rem Poppins;
}

body {
	font: var(--body1-regular);
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

p {
	font: var(--body1-regular);
}

.cards-container {
	display: grid;
	grid-template-columns: minmax(auto, 1fr);
	grid-auto-rows: 40px;
	gap: 16px;
	padding-inline: 16px;
	margin-top: 50px;
}

.card {
	position: relative;
	height: 100%;
	width: 100%;
}

.card__img {
	border-radius: 8px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card__info {
	display: flex;
	flex-direction: column;
	gap: 4px;
	position: absolute;
	bottom: 16px;
	left: 16px;
}

.card__city {
	font: var(--body1-bold);
	margin: 0;
	color: var(--white);
}

.card__country {
	font: var(--body1-regular);
	margin: 0;
	color: var(--white);
}

.card__hover {
	background: rgba(0, 0, 0, 0.4);
	position: absolute;
	inset: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}

.card__hover:hover {
	opacity: 1;
	transition: opacity 0.3s ease-in-out;
}

.card__button {
	font: var(--body1-bold);
	color: var(--white);
	background: #00a2ff;
	padding-inline: 16px;
	padding-block: 8px;
	border-radius: 8px;
	display: flex;
	align-items: center;
	gap: 8px;
	text-decoration: none;
	font-size: 10px;
}

.card__button:hover {
	cursor: pointer;
}

.card__button img {
	height: 15px;
}

.card.small {
	grid-row-end: span 4;
}

.card.medium {
	grid-row-end: span 4;
}

.card.large {
	grid-row-end: span 4;
}

@media (min-width: 370px) {
	.cards-container {
		grid-template-columns: repeat(2, minmax(auto, 1fr));
	}
	.card__button {
		font-size: 10px;
	}
	.card__button img {
		height: 20px;
	}
	.card.small {
		grid-row-end: span 3;
	}

	.card.medium {
		grid-row-end: span 5;
	}

	.card.large {
		grid-row-end: span 6;
	}

	.card__button {
		font-size: 12px;
	}

	.card__button img {
		height: 16px;
	}
}

@media (min-width: 768px) {
	.cards-container {
		grid-template-columns: repeat(3, minmax(auto, 418px));
	}
	.card.small {
		grid-row-end: span 6;
	}

	.card.medium {
		grid-row-end: span 8;
	}

	.card.large {
		grid-row-end: span 9;
	}
	.card__button {
		font-size: initial;
	}

	.card__button img {
		height: initial;
	}
}
